body {
    background-color: white;
    padding: 25px;
    color: black;
    transition: .5s;
}

.dark-mode {
  transition: .5s;
  background-color: black;
  color: white;
}

p {
    height: 50px;
    font-size: 32px;
}



div {
    font-family: 'Roboto', sans-serif;;
    display: flex;
    /* flex-wrap: nowrap; */
    flex-direction: column;
    /* font-size: 20px; */
    justify-content: center;
    align-content: space-between;
    align-items: center;
    text-align: center;
}

.minInput, .maxInput {
  display: flex;
  border-radius: 10px;
  margin-right: 5px;
  margin-left: 5px;
  height:30px;
  font-size: 15px;
}

input::placeholder {
  font-weight: bold;
  text-align: center;
}

.rangeInput {
  display: flex;
  flex-direction: row;
  margin: 12px;
}


/* CSS */
.buttonClick, .buttonReset, .darkMode{
  appearance: none;
  background-color:white;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color:black;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
  margin-bottom:  20px;
}

.buttonClick:disabled {
  pointer-events: none;
}


.buttonClick:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  background-color: black;
  color: white;
}

.buttonReset:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    background-color: black;
    color: white;
}

.darkMode:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  background-color: black;
  color: white;
}

.buttonClick:active {
  box-shadow: none;
  transform: translateY(0);
}

.buttonReset:active {
  box-shadow: none;
  transform: translateY(0);
}

.darkMode:active {
  box-shadow: none;
  transform: translateY(0);
}

 

/* Dark mode button */
.button-dark-mode-click, .button-dark-mode-reset, .button-dark-mode-dark {
  appearance: none;
  background-color:black;
  border: 2px solid white;
  border-radius: 15px;
  box-sizing: border-box;
  color:white;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
  margin-bottom:  20px;
}